# Imports

In [1]:
# Import all required libraries
# You might need to install the surprise package (pip install scikit-surprise)
import numpy as np
import pandas as pd
from tqdm import tqdm
import re
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [2]:
try:
    from surprise import NormalPredictor, KNNBasic, NMF, SlopeOne, SVD, Dataset
    from surprise.model_selection import cross_validate
except ModuleNotFoundError:
    !pip install surprise
    from surprise import NormalPredictor, KNNBasic, NMF, SlopeOne, SVD, Dataset
    from surprise.model_selection import cross_validate

Collecting surprise
  Using cached surprise-0.1-py2.py3-none-any.whl.metadata (327 bytes)
Collecting scikit-surprise (from surprise)
  Using cached scikit_surprise-1.1.4.tar.gz (154 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /opt/conda/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /opt/conda/lib/python3.11/site-packages (from scikit-surprise->surprise) (1.14.1)
Using cached surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp311-cp311-linux_x86_64.whl size=597048 sha256=c585dbba1ed7250a2b38de2db91791e6fbcf2f68aa97043cdc70e59a84c7e18b
  Stored in directory: /home/jovyan/.cache/pip/wheels/2a/8f/6e/7e2899163e2d85d8266daab4aa1cdabec7a6c56f83c015b5af
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.4 surprise-0.1

# Load datasets

In [3]:
sales_path = "../data/sales_dataset/Books_Data_Cleaner.csv"
# sales_cols = ['index', 'Publishing Year', 'Book Name', 'Author', 'language_code', 'Author_Rating', 'Book_average_rating', 'Book_ratings_count', 'genre', 'gross sales', 'publisher revenue', 'sale price', 'sales rank', 'Publisher', 'units sold']
sales_df = pd.read_csv(sales_path)
sales_df.head(3)

,index,publishing_year,book_name,author,language_code,author_rating,book_average_rating,book_ratings_count,genre,gross_sales,publisher_revenue,sale_price,sales_rank,publisher,units_sold
0,0,1975.0,Beowulf,"Unknown, Seamus Heaney",en-US,Novice,3.42,155903,genre fiction,34160.0,20496.0,4.88,1,HarperCollins Publishers,7000
1,1,1987.0,Batman: Year One,"Frank Miller, David Mazzucchelli, Richmond Lew...",eng,Intermediate,4.23,145267,genre fiction,12437.5,7462.5,1.99,2,HarperCollins Publishers,6250
2,2,2015.0,Go Set a Watchman,Harper Lee,eng,Novice,3.31,138669,genre fiction,47795.0,28677.0,8.69,3,"Amazon Digital Services, Inc.",5500

In [4]:
sales_df.columns

Index(['index', 'publishing_year', 'book_name', 'author', 'language_code',
       'author_rating', 'book_average_rating', 'book_ratings_count', 'genre',
       'gross_sales', 'publisher_revenue', 'sale_price', 'sales_rank',
       'publisher', 'units_sold'],
      dtype='object')

In [5]:
sales_df.describe()

,index,publishing_year,book_average_rating,book_ratings_count,gross_sales,publisher_revenue,sale_price,sales_rank,units_sold
count,1070.000000,1069.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000,1070.000000
mean,534.500000,1971.377923,4.007000,94909.913084,1856.622944,843.281030,4.869561,611.652336,9676.980374
std,309.026698,185.080257,0.247244,31513.242518,3936.924240,2257.596743,3.559919,369.849830,15370.571306
min,0.000000,-560.000000,2.970000,27308.000000,104.940000,0.000000,0.990000,1.000000,106.000000
25%,267.250000,1985.000000,3.850000,70398.000000,372.465000,0.000000,1.990000,287.500000,551.250000
50%,534.500000,2003.000000,4.015000,89309.000000,809.745000,273.078000,3.990000,595.500000,3924.000000
75%,801.750000,2010.000000,4.170000,113906.500000,1487.957500,721.180500,6.990000,932.500000,5312.250000
max,1069.000000,2016.000000,4.770000,206792.000000,47795.000000,28677.000000,33.860000,1273.000000,61560.000000

# TF-IDF Vectorization

In [6]:
vector_sales = sales_df
subset = [
          'book_name',
          'author',
          'publisher',
          'publishing_year',
          # 'language_code',
          # 'author_rating',
          'book_average_rating',
          'book_ratings_count',
          'genre',
          'gross_sales',
          'publisher_revenue',
          'sale_price',
          'sales_rank',
          'units_sold'
         ]

vector_sales.dropna(subset=subset,inplace=True,axis=0)
vector_sales = vector_sales.reset_index(drop=True)

# two sets of vectors, one of words, one of numbers
# apply similarity to each vector

In [7]:
# vector_sales['book_name'] = [re.sub(',',' ',re.sub(' ','',t)) for t in vector_sales['book_name']]
vector_sales['author']    = [re.sub(',',' ',re.sub(' ','',t)) for t in vector_sales['author']]
vector_sales['publisher'] = [re.sub(',',' ',re.sub(' ','',t)) for t in vector_sales['publisher']]
vector_sales['genre'] = [re.sub(',',' ',re.sub(' ','',t)) for t in vector_sales['genre']]

In [8]:
vector_sales['combined'] = \
                            vector_sales['book_name'] + ' ' + \
                            vector_sales['author'] + ' ' + \
                            vector_sales['publisher'] + ' ' + \
                            vector_sales['publishing_year'].astype(str) + ' ' + \
                            vector_sales['book_average_rating'].astype(str) + ' ' + \
                            vector_sales['genre']
                            # vector_sales['book_ratings_count'].astype(str) + ' ' + \
                            # vector_sales['gross_sales'].astype(str) + ' ' + \
                            # vector_sales['publisher_revenue'].astype(str) + ' ' + \
                            # vector_sales['sale_price'].astype(str) + ' ' + \
                            # vector_sales['sales_rank'].astype(str) + ' ' + \
                            # vector_sales['units_sold'].astype(str)
                            # vector_sales['language_code'] + ' ' + \
                            # vector_sales['author_rating'] + ' ' + \

In [9]:
vector_sales['combined_numbers'] = \
                            vector_sales['book_ratings_count'].astype(str) + ' ' + \
                            vector_sales['gross_sales'].astype(str) + ' ' + \
                            vector_sales['publisher_revenue'].astype(str) + ' ' + \
                            vector_sales['sale_price'].astype(str) + ' ' + \
                            vector_sales['sales_rank'].astype(str) + ' ' + \
                            vector_sales['units_sold'].astype(str)
                            # vector_sales['language_code'] + ' ' + \
                            # vector_sales['author_rating'] + ' ' + \

In [10]:
vector_sales['combined'][0]

'Beowulf Unknown SeamusHeaney HarperCollinsPublishers 1975.0 3.42 genrefiction'

In [11]:
vector_sales['combined_numbers'][0]

'155903 34160.0 20496.0 4.88 1 7000'

In [26]:
print(vector_sales['combined'][51])
print(vector_sales['combined_numbers'][1])

The Magicians LevGrossman Macmillan 2009.0 3.47 genrefiction
145267 12437.5 7462.5 1.99 2 6250

In [46]:
# vectorizer = TfidfVectorizer()
# matrix = vectorizer.fit_transform(vector_sales['combined'])
# similarities = linear_kernel(matrix,matrix)
# book_title = vector_sales['book_name']
# indices = pd.Series(vector_sales.index, index=vector_sales['book_name'])

# Recommender

In [12]:
vectorizer = TfidfVectorizer(stop_words='english')
book_title = vector_sales['book_name']
indices = pd.Series(vector_sales.index, index=vector_sales['book_name'])

In [13]:
book_title

0                               Beowulf
1                      Batman: Year One
2                     Go Set a Watchman
3       When You Are Engulfed in Flames
4              Daughter of Smoke & Bone
                     ...
1042                      Gray Mountain
1043                   The Power of One
1044                 The Maltese Falcon
1045                         Night Road
1046                           Tripwire
Name: book_name, Length: 1047, dtype: object

In [14]:
def content_recommender(title, num_to_rec=20, data=vector_sales, similarity_function='cosine'):
    # title = re.sub(',',' ',re.sub(' ','',title))
    matrix = vectorizer.fit_transform(data['combined'])
    idx = indices[title]
    
    # if similarity_function == 'cosine':
        # cosine similarity
    similarities = linear_kernel(matrix,matrix)
    
    sim_scores = list(enumerate(similarities[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:num_to_rec]
    book_indices = [i[0] for i in sim_scores]
    book_titles = book_title.iloc[book_indices]

    sim_scores = [item[1] for item in sim_scores]
    sim_scores = [round(score, 3) for score in sim_scores]
    
    recommendations = pd.DataFrame({'Books': book_titles, 'Similarity Score': sim_scores})
    return recommendations

In [15]:
num_to_rec = 20
similarity_function = 'cosine'

In [63]:
content_recommender('Pretty Little Liars', num_to_rec, vector_sales, similarity_function)

                                       Books  Similarity Score
802                             Pretty Girls             0.233
776                    All the Pretty Horses             0.232
524               The Summer I Turned Pretty             0.212
656                            A Little Life             0.186
680                            Stuart Little             0.159
565                       Little Earthquakes             0.145
9                          A Little Princess             0.144
962                                  Infidel             0.139
247                         For One More Day             0.137
147            Little House In The Big Woods             0.136
94   The True Story of the Three Little Pigs             0.136
204              The Little House Collection             0.135
889        Have a Little Faith: A True Story             0.134
669             The Little Engine That Could             0.134
13               Little House on the Prairie             0.130
244                                 Specials             0.129
849                                   Extras             0.123
76                                      Cell             0.118
429                        Cleopatra: A Life             0.114

In [64]:
content_recommender('The Bourne Supremacy', num_to_rec, vector_sales, similarity_function)

                                Books  Similarity Score
458   Tales of a Fourth Grade Nothing             0.241
841                     Eleven on Top             0.207
394                              Fire             0.191
208                  The Power of Now             0.181
247                  For One More Day             0.177
1031                          Forever             0.176
725                      To the Nines             0.173
431                        Steelheart             0.172
133                Along for the Ride             0.171
258                       About a Boy             0.167
426                       Thoughtless             0.164
470                People of the Book             0.163
580                            Finale             0.163
880                           Redwall             0.162
807                            Lirael             0.162
270                        The Circle             0.162
528                         Darkfever             0.161
545                     The Messenger             0.161
782                      The Likeness             0.160

In [65]:
content_recommender('The Magicians', num_to_rec, vector_sales, similarity_function)

                          Books  Similarity Score
799                 Night Watch             0.215
372               Gerald's Game             0.214
221               Lonesome Dove             0.203
932   Lover Enshrined, part two             0.173
228             The White Queen             0.123
394                        Fire             0.121
141                 Firestarter             0.118
624              The Last Straw             0.118
583                  Two States             0.116
685               The Awakening             0.116
702                 Wintergirls             0.114
223                  Bloodlines             0.113
946          Hearts in Atlantis             0.112
212               Dead and Gone             0.111
1007                   Switched             0.111
264   This Is Where I Leave You             0.110
177                      Unwind             0.110
90                 Mr. Mercedes             0.110
133          Along for the Ride             0.108

In [61]:
content_recommender('The Magicians', num_to_rec, vector_sales, similarity_function)

                                      Books  Similarity Score
799                             Night Watch             0.211
372                           Gerald's Game             0.211
221                           Lonesome Dove             0.200
932               Lover Enshrined, part two             0.149
228                         The White Queen             0.142
685                           The Awakening             0.135
856                   The Year of the Flood             0.130
624                          The Last Straw             0.124
428                           The Dark Half             0.123
141                             Firestarter             0.117
606                     The Psychopath Test             0.115
482  The Sweetness at the Bottom of the Pie             0.115
542                      To The Lighthouse              0.114
421                     The Gathering Storm             0.114
966                         The Diamond Age             0.113
662                       The Invisible Man             0.113
702                             Wintergirls             0.112
223                              Bloodlines             0.112
939                              The Strain             0.112

In [67]:
content_recommender('Me and Earl and the Dying Girl', num_to_rec, vector_sales, similarity_function)

                              Books  Similarity Score
476        The Girl You Left Behind             0.256
349                  As I Lay Dying             0.219
846                 The Miniaturist             0.212
225                   Twenties Girl             0.186
392           Not that Kind of Girl             0.186
274                   The Good Girl             0.185
1006                        Rapture             0.163
445   The Girl Who Loved Tom Gordon             0.145
71                Girl, Interrupted             0.138
259                On Dublin Street             0.138
931                 The Boston Girl             0.135
633                  The Goose Girl             0.134
348     The Girl with All the Gifts             0.131
825         Ø§Ù„ÙÙŠÙ„ Ø§Ù„Ø£Ø²Ø±Ù‚             0.125
403                      Wallbanger             0.120
726                 Where We Belong             0.114
387             Luckiest Girl Alive             0.114
1034                     Deadlocked             0.113
627                            Onyx             0.108

In [56]:
sales_df['author'].value_counts()

author
Stephen King                                              29
John Grisham                                              13
Jim Butcher                                               10
Jodi Picoult                                              10
Charlaine Harris                                          10
                                                          ..
John Scalzi                                                1
Irma S. Rombauer, Marion Rombauer Becker, Ethan Becker     1
Joe Haldeman                                               1
Stephen King, Bettina Blanch Tyroller                      1
Dashiell Hammett                                           1
Name: count, Length: 722, dtype: int64

In [57]:
sales_df.loc[sales_df['author'] == "Stephen King"]

,index,publishing_year,book_name,author,language_code,author_rating,book_average_rating,book_ratings_count,genre,gross_sales,publisher_revenue,sale_price,sales_rank,publisher,units_sold
22,22,1991.0,Needful Things,Stephen King,NaN,Intermediate,3.87,153821,genre fiction,2772.00,0.000,0.99,23,"Amazon Digital Services, Inc.",2800
25,25,1981.0,Cujo,Stephen King,spa,Intermediate,3.65,158215,genre fiction,7774.00,0.000,2.99,26,"Amazon Digital Services, Inc.",2600
78,78,2006.0,Cell,Stephen King,en-US,Intermediate,3.64,144591,genre fiction,5933.78,3560.268,4.54,80,HarperCollins Publishers,1307
81,81,1987.0,The Drawing of the Three,Stephen King,eng,Intermediate,4.23,139052,nonfiction,2539.24,1523.544,1.99,82,HarperCollins Publishers,1276
92,92,2014.0,Mr. Mercedes,Stephen King,eng,Intermediate,3.92,125847,genre fiction,2202.93,1321.758,1.99,93,Macmillan,1107
139,139,1979.0,The Dead Zone,Stephen King,en-US,Intermediate,3.90,132723,genre fiction,1512.40,907.440,1.99,148,HarperCollins Publishers,760
144,144,1980.0,Firestarter,Stephen King,eng,Intermediate,3.85,142213,genre fiction,2952.60,1771.560,3.99,152,Macmillan,740
160,160,1999.0,On Writing: A Memoir of the Craft,Stephen King,eng,Intermediate,4.31,131481,genre fiction,1943.50,0.000,2.99,170,"Amazon Digital Services, Inc.",650
172,172,1998.0,Bag of Bones,Stephen King,en-US,Intermediate,3.87,131004,genre fiction,569.25,0.000,0.99,185,"Amazon Digital Services, Inc.",575
208,208,1982.0,Different Seasons,Stephen King,eng,Intermediate,4.34,105961,genre fiction,5000.45,3000.270,10.99,227,Simon and Schuster Digital Sales Inc,455
263,263,2013.0,Doctor Sleep,Stephen King,eng,Intermediate,4.10,95276,genre fiction,357.39,214.434,0.99,283,"Amazon Digital Services, Inc.",361
380,380,1992.0,Gerald's Game,Stephen King,eng,Famous,3.47,100158,fiction,433.82,260.292,1.99,413,"Amazon Digital Services, Inc.",5886
413,413,1996.0,Desperation,Stephen King,eng,Intermediate,3.80,94821,genre fiction,196.02,117.612,0.99,453,"Amazon Digital Services, Inc.",5346
422,422,2004.0,The Dark Tower,Stephen King,en-US,Excellent,4.27,93296,genre fiction,770.07,0.000,3.99,463,"Amazon Digital Services, Inc.",5211
436,436,1989.0,The Dark Half,Stephen King,eng,Intermediate,3.74,94624,genre fiction,550.16,330.096,2.99,482,Macmillan,4968
455,455,1999.0,The Girl Who Loved Tom Gordon,Stephen King,NaN,Intermediate,3.56,95768,nonfiction,1346.76,808.056,7.74,503,"Amazon Digital Services, Inc.",4698
592,592,1985.0,Skeleton Crew,Stephen King,eng,Intermediate,3.93,82320,genre fiction,957.72,574.632,6.94,668,Random House LLC,53568
608,608,1987.0,The Tommyknockers,Stephen King,eng,Famous,3.48,89262,genre fiction,790.68,0.000,5.99,693,"Amazon Digital Services, Inc.",50760
651,651,2013.0,Joyland,Stephen King,eng,Intermediate,3.90,75018,genre fiction,118.80,0.000,0.99,746,"Amazon Digital Services, Inc.",42768
677,677,1990.0,Four Past Midnight,Stephen King,en-GB,Intermediate,3.90,76376,nonfiction,640.22,384.132,5.38,779,HarperCollins Publishers,37368
730,730,1987.0,Eyes of the Dragon,Stephen King,eng,Intermediate,3.92,72714,nonfiction,700.83,420.498,5.99,837,HarperCollins Publishers,33264
808,808,1980.0,The Mist,Stephen King,en-US,Intermediate,3.92,82062,nonfiction,340.86,204.516,2.99,943,"Amazon Digital Services, Inc.",2916
816,816,2014.0,Revival,Stephen King,en-US,Intermediate,3.75,53662,genre fiction,568.86,0.000,4.99,953,"Amazon Digital Services, Inc.",2916
829,829,2008.0,Duma Key,Stephen King,en-US,Intermediate,3.93,73807,genre fiction,844.74,506.844,7.41,969,Macmillan,2889
892,892,1995.0,Rose Madder,Stephen King,eng,Intermediate,3.66,70921,genre fiction,222.88,133.728,1.99,1049,Simon and Schuster Digital Sales Inc,4400
959,959,2015.0,Finders Keepers,Stephen King,eng,Excellent,4.03,36541,fiction,107.91,0.000,0.99,1131,"Amazon Digital Services, Inc.",4280
967,967,1999.0,Hearts in Atlantis,Stephen King,eng,Intermediate,3.80,65063,genre fiction,216.91,130.146,1.99,1142,Macmillan,4240
1045,1045,2010.0,"Full Dark, No Stars",Stephen King,en-US,Excellent,4.03,60672,genre fiction,640.93,384.558,5.99,1236,Random House LLC,107
1058,1058,2002.0,Everything's Eventual: 14 Dark Tales,Stephen King,eng,Intermediate,3.94,60932,fiction,316.94,190.164,2.99,1255,"Amazon Digital Services, Inc.",106

In [58]:
content_recommender("Firestarter", num_to_rec, vector_sales, similarity_function)

                          Books  Similarity Score
796                    The Mist             0.343
90                 Mr. Mercedes             0.232
946          Hearts in Atlantis             0.225
815                    Duma Key             0.224
428               The Dark Half             0.221
126                       Congo             0.196
151                        Gone             0.192
520                    The Heir             0.185
716                   The Twits             0.182
693                      Cosmos             0.181
826  The Indian in the Cupboard             0.175
610             The Time Keeper             0.172
756  Still Life with Woodpecker             0.168
975         Gardens of the Moon             0.164
163             State of Wonder             0.162
640                     Joyland             0.160
405                 Desperation             0.155
839              The Last Juror             0.154
279                   Wolf Hall             0.154

In [54]:
content_recommender("The Longest Ride", num_to_rec, vector_sales, similarity_function)

                               Books  Similarity Score
38                      The Guardian             0.419
21                        The Rescue             0.282
182                       The Choice             0.265
152                      The Wedding             0.262
133               Along for the Ride             0.250
865                    True Believer             0.236
284                   The Best of Me             0.233
908                   At First Sight             0.198
195                     The Exorcist             0.194
89                Nights in Rodanthe             0.191
149               A Bend in the Road             0.186
652                         Dog Days             0.180
65             Assassin's Apprentice             0.170
990                    The Racketeer             0.157
378                 The Blade Itself             0.155
964                       The Twelve             0.152
750  The Mysterious Benedict Society             0.148
528                        Darkfever             0.145
741      It's Not Summer Without You             0.143

In [55]:
sales_df.loc[sales_df['author'] == "Nicholas Sparks"]

,index,publishing_year,book_name,author,language_code,author_rating,book_average_rating,book_ratings_count,genre,gross_sales,publisher_revenue,sale_price,sales_rank,publisher,units_sold
21,21,2000.0,The Rescue,Nicholas Sparks,en-US,Intermediate,4.10,142092,genre fiction,8569.34,0.000,2.99,22,"Amazon Digital Services, Inc.",2866
40,40,2003.0,The Guardian,Nicholas Sparks,en-US,Intermediate,4.14,136427,genre fiction,1873.08,0.000,0.99,42,"Amazon Digital Services, Inc.",1892
91,91,2002.0,Nights in Rodanthe,Nicholas Sparks,eng,Intermediate,3.82,129807,genre fiction,5603.77,3362.262,4.99,92,"Amazon Digital Services, Inc.",1123
152,152,2001.0,A Bend in the Road,Nicholas Sparks,eng,Intermediate,4.02,116800,genre fiction,1353.20,811.920,1.99,164,HarperCollins Publishers,680
155,155,2003.0,The Wedding,Nicholas Sparks,en-US,Intermediate,3.98,118045,genre fiction,658.35,395.010,0.99,167,"Amazon Digital Services, Inc.",665
185,185,2007.0,The Choice,Nicholas Sparks,en-US,Intermediate,3.99,93479,genre fiction,1483.04,0.000,2.99,202,"Amazon Digital Services, Inc.",496
290,290,2010.0,The Best of Me,Nicholas Sparks,en-US,Intermediate,3.91,103915,genre fiction,307.89,184.734,0.99,313,"Amazon Digital Services, Inc.",311
567,567,2012.0,The Longest Ride,Nicholas Sparks,eng,Excellent,4.14,71276,genre fiction,144.54,0.000,0.99,631,"Amazon Digital Services, Inc.",3942
883,883,2003.0,True Believer,Nicholas Sparks,en-US,Intermediate,3.80,62840,genre fiction,558.88,0.000,4.99,1035,"Amazon Digital Services, Inc.",4440
928,928,2004.0,At First Sight,Nicholas Sparks,en-US,Intermediate,3.81,62219,genre fiction,108.90,65.340,0.99,1091,"Amazon Digital Services, Inc.",4320

In [18]:
content_recommender("The Hobbit and The Lord of the Rings", num_to_rec, vector_sales, similarity_function)

                                                Books  Similarity Score
587  The History of the Hobbit, Part One: Mr. Baggins             0.296
849                                            Extras             0.208
281                                      Dreamcatcher             0.193
654                                A Wind in the Door             0.165
358                              Rendezvous with Rama             0.164
692                                             Sybil             0.162
78                                   The Silmarillion             0.156
694                       Haunted: A Novel of Stories             0.151
33                                          After You             0.029
964                                        The Twelve             0.026
640                                           Joyland             0.025
405                                       Desperation             0.024
909                                        Down Under             0.024
21                                         The Rescue             0.023
48                                            Scarlet             0.023
747                                        Messenger              0.022
228                                   The White Queen             0.022
908                                    At First Sight             0.022
300                                         Every Day             0.022

In [19]:
sales_df.loc[sales_df['book_name'] == "The Magicians"]

,index,publishing_year,book_name,author,language_code,author_rating,book_average_rating,book_ratings_count,genre,gross_sales,publisher_revenue,sale_price,sales_rank,publisher,units_sold
53,53,2009.0,The Magicians,Lev Grossman,eng,Novice,3.47,147908,genre fiction,1675.08,1005.048,0.99,55,Macmillan,1692

In [140]:
content_recommender('Pretty Little Liars', num_to_rec, vector_sales, similarity_function)

[(16, 0.3533060618752304), (19, 0.13418085889237835), (429, 0.13041151799786596), (369, 0.12143160275036838), (304, 0.10618367813503904), (912, 0.0852537519782556), (146, 0.08518809997287166), (397, 0.08477365427712057), (1045, 0.08343138751791479), (962, 0.08298761104241659), (737, 0.08268934652888144), (525, 0.07840266291600931), (816, 0.07766863347059427), (439, 0.07573888460286328), (247, 0.07569378282494743), (957, 0.0743849690161382), (339, 0.07415084178477559), (849, 0.07207397945366964), (848, 0.0720123388688297)]

16                             TheWaroftheWorlds
19                          TheOmnivore'sDilemma
429                              Cleopatra:ALife
369                               TheTenthCircle
304     LoverAwakened(BlackDaggerBrotherhood #3)
912                           Enchanters'EndGame
146                             ThinkandGrowRich
397                             WolvesoftheCalla
1045                                   NightRoad
962                                      Infidel
737                                       Ã†neis
525                                  FourtoScore
816                               TheShiftingFog
439                                   MoonCalled
247                                ForOneMoreDay
957                                   FairyTail1
339                      DieunendlicheGeschichte
849                                       Extras
848                                TheLostColony
Name: book_name, dtype: object

In [ ]:
# Item-based collaborative filtering: RMSE and MAE computed for a 10-fold cross-validation exercise
algo = KNNBasic(verbose=False,sim_options={'user_based':False})
scores = cross_validate(algo, sales_df, measures=['RMSE','MAE'], cv=10, n_jobs=-1, verbose=True)
results['Item-based Collaborative Filtering'] = scores